* {
	margin: 0;
	padding : 0;
}

#beforeLogin{
	margin-top : 5%;
	margin-bottom : 10%;
}

.sideMenu{
	float: left;
	width: 25%;
}

.mainContent {
	margin: auto;
	vertical-align: middle;
	justify-content: center;
	width : 85%;
	display: grid;
}

#mainTitle{
	color : #656379;
	text-align : center;
}

#book-count{
	border-bottom : 1px solid gray;
	font-size : 1.1em;
}

table {
	width : 800px;
	height: 80px;
}

section {
	margin-bottom: 100px;
}

.side{width:200px;position:fixed;left:3%;top:18%;}
.side ul li{line-height:50px;text-align:center; border:1px solid rgb(181,181,181);text-decoration: none;list-style: none;font-size:1.5rem; cursor:pointer;}
.side ul li:first-child{line-height:65px;font-weight:bold; font-size:2rem;background-color:#5a5eb9; color:#fff; cursor:Default;}
.side ul .lo:hover{background-color:rgb(155,158,213); color:#fff; font-weight:bold;}
.sideact{background-color:rgb(155,158,213); color:#fff; font-weight:bold;}