@charset "UTF-8";
footer{
	margin : 0;
	paddding: 0;
	height : 200px;
	background-color : #2e4f85;
}



#logo{
	width : 25%;
	float : left;
}

#footer-logo{
	width : 160px;
	height : 150px;
	text-align : center;
	margin-top : -5%;
	margin-left : 30%;
	filter : opacity(0.9) drop-shadow(0 0 0 white) brightness(0) invert(1);
}
#footer-info{
	width : 70%;
	float : left;
}
#footer-info a{
	color : #f4f7fb;
	text-decoration : none;
}
#footer-info{
	color : #d4dae3;
}

#footer-info a:hover{
	color : #d8ebfd;
	text-decoration : none;
}
