<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lendingBookMapper">
	<resultMap type="LendingBook" id="lendingBookResultMap">
		<id property="lendingNo" column="LENDING_NO"/>
		<result property="lendingDate" column="LENDING_DATE"/>
		<result property="returnDate" column="RETURN_DATE"/>
		<result property="extendCount" column="EXTEND_COUNT"/>
		<result property="receive" column="RECEIVE"/>
		<result property="userId" column="USER_ID"/>
		<result property="bookNo" column="BOOK_NO"/>
	</resultMap>
	<insert id="insertLending" parameterType="LendingBook">
		INSERT INTO BOOK_LENDING VALUES(SEQ_LENDING_NO.NEXTVAL, SYSDATE, SYSDATE + 14, DEFAULT, #{receive}, #{userId}, #{bookNo})
	</insert>
	<insert id="insertParcel">
		INSERT INTO PARCEL VALUES(SEQ_DELIVERY_NO.NEXTVAL, SEQ_LENDING_NO.CURRVAL, #{addr}, DEFAULT)
	</insert>
	
	<delete id="deleteLending" parameterType="map">
		DELETE FROM BOOK_LENDING WHERE LENDING_NO = #{lendingNo} AND USER_ID = #{userId}
	</delete>
</mapper>