<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">
	<resultMap type="Member" id="memberResultMap">
		<id property="userId" column="USER_ID"></id>
		<result property="userPwd" column="USER_PWD"></result>
		<result property="userNo" column="USER_NO"></result>
		<result property="userName" column="USER_NAME"></result>
		<result property="userPhone" column="USER_PHONE"></result>
		<result property="userType" column="USER_TYPE"></result>
		<result property="userEmail" column="USER_EMAIL"></result>
		<result property="studentId" column="STUDENT_ID"></result>
		<result property="major" column="MAJOR"></result>
		<result property="profilePic" column="PROFILE_PIC"></result>
		<result property="annualFee" column="ANNUAL_FEE"></result>
		<result property="payDate" column="PAY_DATE"></result>
		<result property="enrollDate" column="ENROLL_DATE"></result>
		<result property="passCheck" column="PASS_CHECK"></result>
		<result property="approvalDate" column="APPROVAL_DATE"></result>
		<result property="endDate" column="END_DATE"></result>
		<result property="socialId" column="SOCIAL_ID"></result>
		<result property="surveyCheck" column="SURVEY_CHECK"></result>
		<result property="lendingCopy" column="LENDING_COPY"></result>
	</resultMap>

	
	<select id="selectMember" parameterType="Member" resultMap="memberResultMap">
		SELECT * FROM USERS WHERE USER_ID = #{userId}
	</select>
	<select id="checkPwdDup" parameterType="Member" resultType="_int">
		<!-- 결과값이 int로 나와야함 -->
		SELECT COUNT(*) FROM USERS WHERE USER_ID = #{userId} AND USER_PWD = #{userPwd }
	</select>

	
	<update id="updateMember" parameterType="Member">
		UPDATE USERS SET USER_PWD = #{userPwd}, USER_EMAIL = #{userEmail}, USER_PHONE= #{userPhone}, PROFILE_PIC=#{profilePic} WHERE USER_ID = #{userId}
	</update>
	
	<delete id="deleteMember" parameterType="Member">
		DELETE FROM USERS WHERE USER_ID = #{userId}
	</delete>
	
	<resultMap type="WishBook" id="wishbookResultMap">
		<id property="applyNo" column="APPLY_NO"></id>
		<result property="userId" column="USER_ID"/>
		<result property="bookName" column="BOOK_NAME"/>
		<result property="bookWriter" column="BOOK_WRITER"/>
		<result property="publisher" column="PUBLISHER"/>
		<result property="applyStatus" column="APPLY_STATUS"/>
		<result property="applyDate" column="APPLY_DATE"/>
	</resultMap>
	
	<select id="selectWishList"  resultMap="wishbookResultMap">
		SELECT * FROM WISH_BOOK WHERE USER_ID = #{userId} ORDER BY APPLY_DATE DESC
	</select>
	
	<insert id="insertWishbook" parameterType="WishBook">
		INSERT INTO WISH_BOOK VALUES (SEQ_APPLYNUM, #{userId}, #{bookName}, #{bookWriter}, #{publisher}, DEFAULT, DEFAULT)
	</insert>
</mapper>