<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	<resultMap type="Notice" id="noticeResultMap">
		<id property="noticeNo" column="NOTICE_NO"/>
		<result property="noticeTitle" column="NOTICE_TITLE"/>
		<result property="noticeWriter" column="NOTICE_WRITER"/>
		<result property="nCreateDate" column="N_CREATE_DATE"/>
		<result property="noticeContents" column="NOTICE_CONTENTS"/>
		<result property="viewCount" column="VIEW_COUNT"/>
	</resultMap>
	
	<select id="selectNoticeList" resultMap="noticeResultMap">
		SELECT * FROM NOTICE ORDER BY N_CREATE_DATE DESC
	</select>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE
	</select>
	
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO NOTICE VALUES(SEQ_NOTICE.NEXTVAL, #{noticeTitle }, #{noticeWriter }, DEFAULT, #{noticeContents }, 0)
	</insert>
	
</mapper>