<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 만약에 null로 데이터가 전달되었으면 빈칸이 아닌 NULL로 인식하도로 설정 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.daol.library.member.domain.Member" alias="Member"/>
		<typeAlias type="com.daol.library.notice.domain.Notice" alias="Notice"/>
		<typeAlias type="com.daol.library.book.domain.Book" alias="Book"/>
		<typeAlias type="com.daol.library.lendingBook.domain.LendingBook" alias="LendingBook"/>
		<typeAlias type="com.daol.library.post.domain.Post" alias="Post"/>
		<typeAlias type="com.daol.library.post.domain.Reply" alias="Reply"/>
		<typeAlias type="com.daol.library.readingRoom.domain.ReadingRoom" alias="ReadingRoom"/>
		<typeAlias type="com.daol.library.studyRoom.domain.StudyRoom" alias="StudyRoom"/>
		<typeAlias type="com.daol.library.book.domain.WishBook" alias="WishBook"/>
		<typeAlias type="com.daol.library.mypage.domain.Qna" alias="Qna"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/user-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/book-mapper.xml"/>
		<mapper resource="mappers/lendingBook-mapper.xml"/>
		<mapper resource="mappers/post-mapper.xml"/>
		<mapper resource="mappers/readingRoom-mapper.xml"/>
		<mapper resource="mappers/studyRoom-mapper.xml"/>
		<mapper resource="mappers/mypage-mapper.xml"/>
	</mappers>
</configuration>